{% extends 'base.html' %}

{% block title %}Ślub Cecylii i Tomasza{% endblock %}


{% block content %}
	<div class="row">
		<div class="col-lg-12">
			<div class="page-header">
			  <h1>Galeria zdjęciowa Celiny i Tomka</h1>
			</div>
			<div class="page-header">
                        <h3> <em> Miłość jest to płomyk świecy, wskazujący szybę okienną zbłąkanemu wśród zamieci wędrowcowi, cichą przystań     szczęścia - napisała Betty Compton. Zapraszamy do obejrzenia galerii zdjęć z naszego ślubu i wesela, które odbyło się 29 października 2016 r. Aby oglądać zdjęcia, musisz być zalogowany.
                            </em>
                       </h3>
                       </div>

		</div>
	</div>
{% endblock %}
